/* .nav-link.active.custom-navbar-btn {
    border: 1px solid;
    border-radius: 3px;
}

.nav-link.active.custom-navbar-btn:hover {
    
} */

.nav-link.active.custom-navbar-btn {
  /* border: 1px solid #333; */
  /* border-radius: 3px; */
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.03s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Hover state styles */
.nav-link.active.custom-navbar-btn-clicked {
  background-color: #5a5a5b;
  color: #fff;
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
